@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }


:root {
  --main-color: #850000;
  --color-warning : #FD841F;
  --color-danger : #9A1663;
  --color-success : #31C6D4;
  --color-danger-secondary:  #BAD7E9;
  --color-base:  #F5F0F0;
}


.page-content {
	font-family: 'Nanum Gothic', sans-serif !important;
}

.page-content
{
	background: url("/uploads/main/background_main.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	background-position: center;
	/* font-family: 'Montserrat', 'Ubuntu' ,sans-serif; */

	/* background: rgb(205,200,168);
	background: linear-gradient(90deg, rgba(205,200,168,1) 0%, rgba(210,18,46,1) 44%, rgba(120,232,255,1) 100%); */
}


.table{
	color: #000 !important;
}	

.table td{
	color: #000 !important;
}

/*.table thead th{
	font-weight: bold !important;
}*/

form label
{
	font-weight: bold !important;
	color: #000 !important;
}


/* div.card .card-title
{
	font-weight: bold;
} */

.form-control
{
	border: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.divider{
	height: 25px !important;
}

div.card .card-header{
	background: var(--main-color);
	color: #fff;
}

div.card .card-header > a {
	color: #fff;
}

div.card 
{
	border: 1px solid var(--main-color);
	box-sizing: border-box;
}

/* div.card-theme-blue .card-header{
	background: #31326f !important;
	color: #fff !important;
}

div.card-theme-blue .card-title{
	color: #fff !important;
}

.card .card-theme-default
{

}

div.card-theme-default .card-header{
	background: #fff !important;
} */


div.navigationbar
{
	background: var(--main-color);
}

div.leftbar
{
	background: var(--main-color);
}

div.navigationbar ul li a,
	div.navigationbar ul li a:active,
	div.navigationbar ul li a:visited
{
	color: #fff;
}

.alert-success
{
	background: var(--color-success) !important;
	color: #fff;
}


.alert-danger
{
	background: var(--color-danger) !important;
	color: #fff;
}


.alert-warning
{
	background: var(--color-warning) !important;
	color: #fff;
}

.alert-primary
{
	background: var(--main-color) !important;
	color: #fff;
}

/*
*OVEWRITE COLORS
*/

.badge-success
{
	background: var(--color-success) !important;
}

.badge-danger
{
	background: var(--color-danger) !important;
}

.badge-primary, .btn-primary
{
	background: var(--main-color) !important;
	color: #fff !important;
}

.badge-warning
{
	background: var(--color-warning) !important;
}


#internalBackground
{
	background: #fff !important;
}